test.py

# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Output files
output/data/*
output/charts/*
!output/data/.gitkeep
!output/charts/.gitkeep

# Authentication token
token.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo